body,
html {
  margin: 0;
  font-family: spotifyFont;
  user-select: none;
  overflow: hidden;
}

@font-face {
  font-family: spotifyFont;
  src: url("./extra/GothamBold.ttf");
}

@font-face {
  font-family: circular;
  src: url("./extra/CircularStd-Book.otf");
}

.app {
  display: grid;
  color: white;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 8fr 1fr;
  height: 100vh;
  width: 100%;
}

.sidebar {
  background-color: black;
}

.main {
  background-color: #121212;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  overflow: auto;
}

.music-player {
  background-color: #181818;
  border-top: 1px solid #282828;
  grid-column: 1 / 3;
}

.takeup-space {
  opacity: 0;
}

.topbar {
  background-color: #121212;
  position: sticky;
  top: 0;
  height: 64px;
  display: flex;
  z-index: 800;
}

.topbar-container {
  display: flex;
  align-items: center;
  background-color: #121212;
  width: 100%;
  gap: 16px;
  padding: 16px 32px;
}



.searchbar-input {
  width: 364px;
  height: 40px;
  min-width: 40px;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  border-radius: 500px;
}

.profile {
  background-color: darkviolet;
  margin-left: auto;
}

.arrows {
  display: flex;
  gap: 16px;
  position: absolute;
  z-index: 1000;
  top: 16px;
}

.arrows > button {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.arrows, .takeup-space {
  margin-left: 40px;
}

button:hover {
  cursor: pointer;
}

.searchpage h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: none;
  letter-spacing: -0.04em;
  margin: 0;
}

.main-spacing {
  padding: 0 32px;
}

.searchpage {
  margin-top: 16px;
}

.search-results {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 10px;
}

.top-result-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
}

.top-result h2 {
  margin-bottom: 25px;
}

.top-result-songs h2 {
  margin-bottom: 25px;
}

.top-result-box {
  background-color: #181818;
  padding: 20px;
  width: 385px;
  border-radius: 5px;
  transition: 0.15s;
}

.top-result-box:hover {
  background-color: #282828;
}

.top-result-box:hover .container > .green-play-button {
  opacity: 1;
  transform: translateY(-2px);
  transition: 0.25s;
}

.top-result-box > a > .container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.top-result-box > a > .container > .details {
  display: flex;
  gap: 5px;
}

.details a {
  font-size: 14px;
  color: #b3b3b3;
}

.top-result-box img {
  width: 92px;
}

.explicit-symbol {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  font-size: 9px;
  width: 15px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

#name {
  font-size: 2rem;
  line-height: 2.25rem;
  text-transform: none;
  letter-spacing: -0.04em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

.song-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playbutton-box {
  position: relative;
  right: 10px;
}

ul {
  margin: 0;
}

.song {
  display: flex;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 8px;
  border-radius: 4px;
}

.song:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.song:hover #artists > span > span > a {
  color: white;
}

.song-title {
  user-select: none;
}

#artists > span > span > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.song > div {
  line-height: 1.5rem;
  font-family: circular;
}

#song-img {
  width: 40px;
}

.song-play-icon {
  position: absolute;
}

ul {
  padding: 0;
}

.song-details > .grey-details {
  display: flex;
  gap: 10px;
}

.song-details > .grey-details > #E {
  background-color: rgba(255, 255, 255, 0.6);
  color: #121212;
  font-size: 9px;
  width: 15px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.song-details > .grey-details > #artists {
  color: #b3b3b3;
  user-select: none;
  text-decoration: none;
  touch-action: manipulation;
}

.song > #length {
  margin-left: auto;
  margin-right: 45px;
  font-family: circular;
  color: #b3b3b3;
}

.songs-see-all {
  display: flex;
  align-items: baseline;
}

#see-all {
  margin-left: auto;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #b3b3b3;
}

#see-all:hover {
  text-decoration: underline;
}

.play-mini-song {
  position: absolute;

  right: 8px;
  top: 9px;

  background-color: transparent;
  border: 0;
}

.play-mini-song > img {
  width: 25px;
}

.img-container {
  position: relative;
}

.item-row {
  display: flex;
  gap: 24px;
}

.playing > span {
  color: #fff;
}

.item-row > div {
  padding: 15px;
  background: #181818;
  width: 150px;
  height: 235px;
  border-radius: 4px;
  transition: background 0.3s;
  display: flex;
  flex-direction: column;
  position: relative;
}

.item-row > div:hover {
  background: #282828;
  cursor: pointer;
}

.item-row > div:hover .item-image > .green-play-button {
  opacity: 1;
  transform: translateY(-2px);
  transition: 0.25s;
}

.item-row > div > a > div > img {
  height: 150px;
  width: 150px;
  align-self: center;
  border-radius: 500px;
}

.item-image {
  position: relative;
}

.item-row > div > a > div > .album {
  height: 150px;
  width: 150px;
  align-self: center;
  border-radius: 0;
}

.item-img-container {
  position: relative;
}

.green-button {
  position: absolute;
  bottom: 10px;
}

.item-row > div > a > .item-name {
  margin-top: 20px;
  margin-bottom: 3px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

.type {
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-family: circular;
  color: #b3b3b3;

}

.row-see-all {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.albums {
  display: flex;
}

.album-details {
  font-size: 0.875rem;
  text-transform: none;
  letter-spacing: normal;
  font-family: circular;
  color: #b3b3b3;
  margin-top: 4px;
}

#dot {
  font-size: 0.5rem;
  vertical-align: middle;
}

.play-mini-song > .idle {
  display: none;
}

.img-container .playing {
  opacity: 0.5;
}

.song:hover .play-mini-song > .idle {
  display: block;
}

#pause-icon {
  display: none;
}

.playing {
  display: block;
}

a,
a:visited {
  color: #b3b3b3;
}

.song:hover .img-container > #song-img {
  opacity: 0.5;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #070707;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #595959;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
