.progressbar-container:hover .range {
  display: block;
}

.progressbar > div {
  background: rgb(255, 255, 255);
  width: 50%;
  border-radius: inherit;
  height: inherit;
}

.progressbar-container {
  position: relative;
  width: 100%;
}

.progressbar {
  background: #5e5e5e;
  width: 600px;
  border-radius: 8px;
  height: 4px;
}

.range {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  border-radius: 8px;
  height: 4px;
  width: 590px;
  outline: none;
  -webkit-appearance: none;
}

.range::-webkit-slider-thumb {
  border: solid 6px rgb(255, 255, 255);
  border-radius: 0;

  height: 12px;
  width: 12px;
  border-radius: 50%;
  -webkit-appearance: none;
}

.bar-container {
  display: flex;
  width: 590px;
  align-items: center;
  gap: 6px;
}

.bar-container > div {
  font-size: 0.8rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-family: circular;
  color: #a7a7a7;
}
