.music-player {
  align-items: center;
}

.player {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.playbar {
  width: 35%;
  margin: auto;
  position: absolute;
  left: 33%;
}

.player-song-details {
  margin-left: 16px;
  font-family: circular;
  position: relative;
}

.player-song-details > div > div {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 200px;
}

.player-artists {
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 1px;
}

.player-artists > a {
  color: #b3b3b3;
  font-size: 0.6875rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
}

#artistname-player:not(:last-child)::after {
  content: ", "
}

.player-artists > a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}

.player-song-title {
  font-size: 0.875rem;
  line-height: 1rem;
  margin-bottom: -5px;
  max-width: 251px;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}

.name-artists > a {
  color: #fff;
}

.player-song-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.player-song-details > div > div > .name-artists {
  display: flex;
  flex-direction: column;
}

.otherstuff {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.player-img {
  width: 56px;
}

.playbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.playbar-container > .buttons {
  width: max-content;
  display: flex;
  gap: 12px;
  margin: auto;
}

.player-icon {
  width: 35px;
  filter: invert(78%);
}

.player-icon:hover {
  filter: invert(100%);
}

.player-icon:active {
  filter: invert(78%);
}

.center-icon {
  width: 40px;
  filter: invert(100%);
}

.center-icon:hover {
  transform: scale(1.03);
}

.center-icon:active {
  transform: scale(0.95);
}

.shuffle,
.repeat {
  width: 24px;
}

.otherstuff {
  display: flex;
  align-self: center;
  gap: 15px;
}
